body{
    background-size:cover;
    text-align:center;
}

#heading{
    font-size:50px;
    width:100%;
    color:black;
}

#back_button{
    font-size:20px;
    color:white;
    margin-top:450px;
}

#status{
    font-size:18px;
    color:white;
    margin-right:20px;

}

#number{
    font-size:18px;
    color:white;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    margin-top:50px;
    box-shadow:10 10 10 gray;
}